/* Scroll container styling */
.videoScrollerContainer {
  position: relative;
  width: calc(100vw - 50px);
  left: 50%;
  transform: translateX(-50%);
  max-width: 1280px;
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.textSide {
  flex: 1;
  padding-left: 10%;
}

.videoSide {
  width: 55%;
  flex-shrink: 0;
  align-self: stretch;
  margin: 30px 0;
}

.videoContainer {
  width: 100%;
}

/* Text sections styling */
.segmentText {
  color: var(--segment-color);
  background-color: var(--segment-bg);
  padding: 15px;
  border-radius: 7px;
  margin: 30px 0;
  border: 1px solid var(--segment-bg);
  opacity: 0.5;
  transition: 0.2s border ease 0.2s background-color ease 0.2s color ease;
}

.segmentText[data-active="true"] {
  border: 1px solid var(--segment-border-active);
  opacity: 1;
}
