.rv-treemap__leaf {
  /* display: inline-block; */
  position: absolute;
}

.rv-treemap {
  position: relative;
}

.chart {
  display: inline-block;
  position: relative;
}

.treemapLabel {
  position: absolute;
  bottom: 0px;
  right: 80px;
}

.right {
  float: right;
}

h1 {
  font-size: 1.5rem;
}

@media (min-width: 756px) {
  h1 {
    font-size: 2.5rem;
  }
}

.lead {
  font-size: 1rem;
}
