.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  position: relative;
  left: calc(50% - 45vw);
  margin-bottom: 50px;
  /*transform: translateX(-50%);*/
}

.zoomElement {
  width: 75vw;
  aspect-ratio: 16/9;
  /*max-height: calc(100vh - 50px);*/
  background-color: black;
  border-radius: 1px;
  /* border: 5px solid white; */
}
