/* Video player styling */
.videoElement {
  pointer-events: none;
}

.videoPoster {
  filter: grayscale(70%) blur(1.5px) brightness(60%);
}

.playButton {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  pointer-events: all;
  transition: 0.3s background-color ease;
}

.playButton:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
